.nav{
    display: flex;
    padding: 19px 57px;
    justify-content: space-between;
    z-index: 5;
    align-items: center;
}
.comp{
    display: flex;
    gap: 53px;
    align-items: center;
}
.button{
    padding: 15px 50px;
    background-color: #292A2C;
    color: white;
    border-radius: 12px;
    
    border: 0px;
}